#status_list {
	position: absolute;
	left   : 16vw;
	bottom : 4vh;
	opacity: 1.0;
}

.status {
	padding: 1px;
	margin: 0.3em;
}

.status_inner {
	padding-top: 20px;
	padding-bottom: 20px;
}

.status_val {
	height : 0.5em;
}

.status_val_text {
	color: white;
	font-weight: 700;
	font-size: 2rem;
	padding: 4px;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

i.yellow {
	color:#ffb90f;
}

i.blue {
	color:#00cdcd;
}

i.brown {
	color:#8b4c39;
}