<template>
  <div class="screen">
    <list :list='callList' title="Téléphone" :disable='ignoreControls' v-on:select="onSelect"></list>
  </div>
</template>

<script>
import List from './../List.vue'
import request from '../../request'
import Modal from '@/components/Modal/index.js'

export default {
  components: {
    List
  },
  data () {
    return {
      title: 'Téléphone',
      ignoreControls: false,
      callList: [{
        display: 'Police',
        subMenu: [
          {title: 'Signaler un vol', eventName: 'esx_policejob:callPolice', type: 'rob'},
          {title: 'Signaler une agression', eventName: 'esx_policejob:callPolice', type: 'attack'},
          {title: 'Autre', eventName: 'esx_policejob:callPoliceCustom'},
          {title: 'Annuler l\'appel en cours', color: 'orange', eventName: 'esx_policejob:cancelCall'}
        ]
      }, {
        display: 'Sheriff',
        subMenu: [
          {title: 'Signaler un vol', eventName: 'esx_sheriffjob:callPolice', type: 'rob'},
          {title: 'Signaler une agression', eventName: 'esx_sheriffjob:callPolice', type: 'attack'},
          {title: 'Autre', eventName: 'esx_sheriffjob:callPoliceCustom'},
          {title: 'Annuler l\'appel en cours', color: 'orange', eventName: 'esx_sheriffjob:cancelCall'}
        ]
      }, {
        display: 'Ambulance',
        subMenu: [
          {title: 'Appel Coma', eventName: 'esx_ambulancejob:callAmbulance', type: 'death'},
          {title: 'Intervention bégnine', eventName: 'esx_ambulancejob:callAmbulance', type: 'heal'},
          {title: 'Intervention grave', eventName: 'esx_ambulancejob:callAmbulance', type: 'grave'},
          {title: 'Autres', eventName: 'esx_ambulancejob:callAmbulance', type: 'custom'}
          {title: 'Annuler l\'appel en cours', color: 'orange', eventName: 'esx_ambulancejob:cancelCall'}
        ]
      }, {
        display: 'Taxi',
        subMenu: [
          {title: '1 personne', eventName: 'esx_taxijob:callService', type: '1'},
          {title: '2 personnes', eventName: 'esx_taxijob:callService', type: '2'},
          {title: '3 personnes', eventName: 'esx_taxijob:callService', type: '3'},
          {title: 'Plus de 3', eventName: 'esx_taxijob:callService', type: 'more'},
          {title: 'Annuler l\'appel en cours', color: 'orange', eventName: 'esx_taxijob:cancelCall'}
        ]
      }, {
        display: 'Mecano',
        subMenu: [
          {title: 'Moto', eventName: 'esx_mecanojob:callMecano', type: 'moto'},
          {title: 'Voiture', eventName: 'esx_mecanojob:callMecano', type: 'car'},
          {title: 'Camionnette', eventName: 'esx_mecanojob:callMecano', type: 'smalltruck'},
          {title: 'Camion', eventName: 'esx_mecanojob:callMecano', type: 'truck'},
          {title: 'Custom', eventName: 'esx_mecanojob:callMecano', type: 'custom'},
          {title: 'Fourrière', eventName: 'esx_mecanojob:callMecano', type: 'pound'},
          {title: 'Annuler l\'appel en cours', color: 'orange', eventName: 'esx_mecanojob:cancelCall'}
        ]
      }, {
        display: 'Mecano d\'ou nord',
        subMenu: [
          {title: 'Moto', eventName: 'esx_mecanojob1:callMecano', type: 'moto'},
          {title: 'Voiture', eventName: 'esx_mecanojob1:callMecano', type: 'car'},
          {title: 'Camionnette', eventName: 'esx_mecanojob1:callMecano', type: 'smalltruck'},
          {title: 'Camion', eventName: 'esx_mecanojob1:callMecano', type: 'truck'},
          {title: 'Custom', eventName: 'esx_mecanojob1:callMecano', type: 'custom'},
          {title: 'Fourrière', eventName: 'esx_mecanojob1:callMecano', type: 'pound'},
          {title: 'Annuler l\'appel en cours', color: 'orange', eventName: 'esx_mecanojob1:cancelCall'}
        ]
      }, {
        display: 'Styliste (SOON)',
        subMenu: [
          {title: 'Contact / Prise de RDV', eventName: 'esx_tattoojob:contact'}
        ]
      }, {
        display: 'Brinks',
        subMenu: [
          {title: 'Contact / Prise de RDV', eventName: 'esx_brinks:contact'},
          {title: 'Annuler l\'appel en cours', color: 'orange', eventName: 'esx_brinks:cancelCall'}
        ]
      }, {
        display: 'Gouvernement',
        subMenu: [
          {title: 'Contact / Prise de RDV', eventName: 'esx_gouv:contact'},
          {title: 'Annuler l\'appel en cours', color: 'orange', eventName: 'esx_gouv:cancelCall'}
        ]
      }, {
        display: 'Juge',
        subMenu: [
          {title: 'Contact / Prise de RDV', eventName: 'esx_juge:contact'},
          {title: 'Annuler l\'appel en cours', color: 'orange', eventName: 'esx_juge:cancelCall'}
        ]
      }, {
        display: 'Faim\'Dus',
        subMenu: [
          {title: 'Contact / Prise de RDV', eventName: 'sandy_faimdus:contact'},
          {title: 'Commande', eventName: 'sandy_faimdus:commande'},
          {title: 'Autre', eventName: 'sandy_faimdus:callFaimdusCustom'},
          {title: 'Annuler l\'appel en cours', color: 'orange', eventName: 'sandy_faimdus:cancelCall'}
        ]
      }, {
        display: 'Abis Club',
        subMenu: [
          {title: 'Commande', eventName: 'sandy_abys:contact', type: "commande"},
          {title: 'Autre', eventName: 'sandy_abys:callAbysCustom'},
          {title: 'Annuler l\'appel en cours', color: 'orange', eventName: 'sandy_abys:cancelCall'}
        ]
      }, {
        display: 'Mora\'s Beer',
        subMenu: [
          {title: 'Contact / Prise de RDV', eventName: 'sandy_brasseur:contact'},
          {title: 'Commande', eventName: 'sandy_brasseur:commande'},
          {title: 'Autre', eventName: 'sandy_brasseur:callBrasseurCustom'},
          {title: 'Annuler l\'appel en cours', color: 'orange', eventName: 'sandy_brasseur:cancelCall'}
        ]
      }]
    }
  },
  methods: {
    onSelect: function (call) {
      if (this.ignoreControls === true) return
      this.ignoreControls = true
      Modal.CreateModal({choix: [...call.subMenu, {title: 'Retour'}]}).then(rep => {
        this.ignoreControls = false
        if (rep.title === 'Retour') return
        request.callEvent(rep.eventName, rep.type)
      })
    },
    onBackspace: function () {
      if (this.ignoreControls === true) return
      history.back()
    }
  },

  created: function () {
    this.$bus.$on('keyUpBackspace', this.onBackspace)
  },
  beforeDestroy: function () {
    this.$bus.$off('keyUpBackspace', this.onBackspace)
  }
}
</script>

<style scoped>
.screen{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
</style>
