@import url('https://fonts.googleapis.com/css?family=Syncopate|Unica+One');
@font-face {
  font-family: calibri;
  src: url('../fonts/calibri.ttf');
}

@font-face {
  font-family: pcdown;
  src: url('../fonts/pdown.ttf');
}

@font-face{
  font-family: vivaldi;
  src: url('../fonts/vivaldi.ttf');
}


.menu {
  font-family: 'Unica One', cursive;
  min-width  : 400px;
  color      : rgb(255, 255, 255);
  box-shadow : 0px 0px 50px 0px #000;
  position   : absolute;
  font-size: 15pt;
}

.menu.align-left {
  left: 40;
  top : 50%;
  transform: translate(0, -50%); 
}


.menu.align-top-left {
  left: 40;
  top : 40; 
}

.menu.align-top {
  left: 50%;
  top : 40;
  transform: translate(-50%, 0);
}

.menu.align-top-right {
  right: 10;
  top  : 40;
}

.menu.align-right {
  right: 40;
  top  : 50%;
  transform: translate(0, -50%); 
}

.menu.align-bottom-right {
  right : 40;
  bottom: 40;
}

.menu.align-bottom {
  left  : 50%;
  bottom: 40;
  transform: translate(-50%, 0); 
}

.menu.align-bottom-left {
  left  : 40;
  bottom: 40;
}

.menu.align-center {
  left : 50%;
  top  : 50%;
  transform: translate(-50%, -50%); 
}

.menu .head {
  background-color: rgba(158, 158, 158, 0.637);
  text-align      : center;
  height          : 40px;
  line-height     : 40px;
  font-family     : vivaldi;
  font-size       : 30pt;
  padding-top     : 5pt;
  padding-bottom  : 5pt;
}

.menu .menu-items {
  max-height : 600px;
  overflow-y : auto;
  text-transform: uppercase;
}

.menu .menu-items .menu-item {
  height          : 40px;
  display         : block;
  background-color: #050505ad;
  box-shadow      : inset 0px 0px 0px 0px #b8b8b8a1;
  height          : 32px;
  line-height     : 32px;
  color           : rgb(255, 255, 255);
  text-align      : left;
  padding-left    : 10pt;
}

.menu .menu-items .menu-item.selected {
  background-color: #5252529c;
}