@font-face {
  font-family: bankgothic;
  src: url('../fonts/bankgothic.ttf');
}

@font-face {
  font-family: pcdown;
  src: url('../fonts/pdown.ttf');
}

#cursor {
  position: absolute;
  z-index: 999999999;
  display:  none;
}

#controls {
  font-family   : pcdown;
  font-size     : 3em;
  color         : #FFF;
  position      : absolute;
  bottom        : 40;
  right         : 40;
  
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000
  ;
}

.controls {
  display: none;
}

.dialog {

  font-family     : bankgothic;  
  background-color: #fff;
  color           : #fff;
  position        : absolute;
  overflow        : hidden;
  top             : 50%;
  left            : 50%;
  width           : 600px;
  height          : 104px;
  transform       : translate(-50%, -50%);
}

.dialog.big {
  height: 200px;
}

.dialog .head {
  background-color: black;
  font-family     : pcdown;
  color           : white;
  font-size       : 1.5em;
  text-align      : center;
  height          : 40px;
  border-radius   : 0px 0px 0 0;
}

.dialog .head span:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.dialog input[type="text"], .dialog input[type="number"] {
  width : 100%;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.92);
  color: white;
  font-weight: bold;
  border-bottom-color: black;
  opacity: 50%;
  text-align: center;
}

.dialog textarea {
  width : 100%;
  height: 128px;
}

.dialog button[name="submit"] {
  width : 50%;
  height: 32px;
  background-color: green;
  color: white;
  border-color: green;
  border: 0 none;
  cursor:pointer;
  font-weight: bold;
}

.dialog button[name="cancel"] {
  width : 50%;
  height: 32px;
  background-color: red;
  color: white;
  border-color: red;
  border: 0 none;
  cursor:pointer;
  font-weight: bold;
}